<footer>
   <div class="footer-container">
    <div class="footer-upper">
        <div class="foot-left">
            <h3>Contact:</h3>
            
            <p> <strong>Email :</strong> codingclubgecbhojpur@gmail.com</h4>
          
            <p> <strong>Mobile No. </strong>   06182-222140
</p>

        </div>
        <div class="foot-center">
            <div class="icon-footer">
                
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
            </div>
        </div>
        <div class="foot-right">
            <h3>Address</h3>
            <p>Government Engineering College,Bhojpur Ara (802301)</p>
        </div>
       
    </div>
     <div class="footer-lower">
            <span >Copyright <i class="fa-solid fa-copyright"></i> 2025 Web and Coding Club,GEC Bhojpur</span>
        </div>
   </div>
</footer>