<nav class="navbar navbar-expand-md bg-body-white border-bottom ">
    <div class="container-fluid">
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="https://www.gecbhojpur.org/">Home
                    <a class="nav-link" href="https://www.gecbhojpur.org/">About Us</a>

            </div>
            <div class="navbar-nav ms-auto">


                <a href="/track" class="nav-link">Track Status</a>
                <a href="/" class="nav-link">Grievance</a>
                <a class="nav-link" href="/admin">Admin Dashboard</a>

                <a class="nav-link" href="/admin/logout">Logout</a>

            </div>
        </div>
    </div>
</nav>