<% layout("../layout/boilerplate") -%>

<body>
  <div class="body-container">
    <div class="left-body">
      <h1 id="one">Code.</h1>
      <h1 id="two">Create.</h1>
      <h1 id="three">Conquer</h1>
      <p>Empowering coders to innovate and lead</p>
      <a href="/register"><button>Register</button></a>
    </div>
    <div class="right-body">
         <img src="Main-container-img.png" alt="Main-container-img" height="400px">
    </div>
    </div>
  </div>
</body>