<% layout("../layout/boilerplate") -%>
<% if (success && success.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>
  <body>

    <div class="login-container">


      <div class="f-form">
        <h3>LOGIN</h3>

        <form action="/login" method="post">

          <input type="text" name="username" placeholder="username" required><br>
          <input type="password" name="password" placeholder="Enter your password" required><br>
          <button type="submit" class="btn btn-success">LogIn</button>
        </form>


      </div>
    </div>


  </body>