<% layout("../layout/boilerplate") -%>

  <body>
    


    <div class="fcontainer">


      <div class="f-form">
        <h2>Create an Account</h2>
        <p class="f-login">Already have an account? <a href="/login">Log in</a></p>

        <form action="/register" method="post">
          <input type="text" name="name" placeholder=" Your Name" required><br>
          <input type="text" name="phone" placeholder="Mobile Number" required><br>
          <input type="email" name="email" placeholder="Email" required><br>
          <input type="password" name="password" placeholder="Enter your password" required>

          <div class="f-checkbox">
            <input type="checkbox" id="terms" name="terms" checked required>
            <label for="terms">I agree to the <a href="#">Terms & Conditions</a></label>
          </div>

          <button type="submit" class="f-submit">Create Account</button>
        </form>

        <p class="f-register">Or register with</p>

        <div class="f-extra">
          <button><i class="fa-brands fa-google"></i> Google</button>

        </div>
      </div>
    </div>


  </body>