/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0F0F0F;
 ;
}

/* Navbar */

.navbar {
  background: #1A1A1AB8;

  color: white;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  z-index: 10;
}
span:hover{
  color: #ff5e57;
  cursor: pointer;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: bold;
  i{
    color: #6C4EFF;
  }
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ff5e57;
}

/* Button */
.btn {
  background: #6C4EFF;
  width: 110px;
  height: 41px;
  border-radius: 12px;
  text-align: center;

padding: 8.5px 10px;
  
  color: white;
  
  text-decoration: none;
  transition:  ease-in,0.3s;
}

.btn:hover {
  transition: ease-in,0.3s;
  background-color: #6C4EFF;
    color: #ff5e57;



}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links,
  .btn {
    display: none;
  }

  .nav-links.mobile-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: #111;
    padding: 20px 0;
    gap: 20px;
    text-align: center;
  }

  .btn {
    display: inline-block;
    margin: 0 auto;
  }

  .hamburger {
    display: block;
  }
}

/* Main-container style */

.body-container{
  height: 80vh;
  width: 100%;
  background-color: #0F0F0F;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  h1{
    font-size: 64px;
  }
  p{
    color: #fff;
  }
  button{
    background-color: #7F66FB8A;
    color: white;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    border: none;
    font-size: large;
  }
}
#one{
  color: #fff;
}
#two{
  color: #8976e7;
}
#three{
  color: #fbc954;
}
@media (max-width : 600px) {

  .body-container{
    flex-direction: column;
    margin-top: 160px;
    text-align: center;
    gap: 5%;
  }
}

/* Footer style */
.footer-container{
  width: 100%;
  background-color: #171717;
  color: white;
  padding: 20px 0;
}
.footer-upper{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  align-items: baseline;
}
.icon-footer i{
  margin: 10px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 20px;

}

.icon-footer i:hover{
  opacity: 1;
  color: rgb(170 187 204);
}

.footer-lower{
  border-top: 0.5px solid white;
  text-align: center;
  height: 100px;
  width: 100%;
  
}

@media(max-width:650px){
  .footer-container{
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .footer-upper{
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .icon-footer{
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer-lower{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
